{% extends 'base.html' %}

{% block linkcss %} <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/home/users.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/home/chat.css') }}">
{% endblock linkcss %}

{% block title %} Home {% endblock title %}

{% block content %}
<main>
    <section class="users_container" data-users='{{ usersjson | tojson }}'>
        <h2>Some users: </h2>
        
        <article class="users_container_list">
            {% for user in users %}
            <div id="{{user.id}}_container" class="cards">
                {% if user.profile_photo %}

                <img class="" src="{{ url_for('static', filename='profilephotos/'+user.profile_photo) }}" alt="{{user.username}}">
        
                {% else %}
                
                <img class="" src="https://cdn0.iconfinder.com/data/icons/set-ui-app-android/32/8-512.png" alt="{{user.username}}">
        
                {% endif %}
            </div>
            {% endfor %}
        </article>
    </section>

    <section class="chat_container">
        <ul class="chat_messages">
            <li class="chat_message">
                {% if user.profile_photo %}

                <img class="" src="{{ url_for('static', filename='profilephotos/'+user.profile_photo) }}" alt="{{user.username}}">
        
                {% else %}
                
                <img class="" src="https://cdn0.iconfinder.com/data/icons/set-ui-app-android/32/8-512.png" alt="{{user.username}}">
        
                {% endif %}
                <p>Esto es un mensaje de prueba</p>
            </li>
        </ul>

        <form method="POST"> 
            <input type="text" placeholder="Your message"></input>
            <button>SUBMIT</button>
        </form>
    </section>
</main>
{% endblock content %}

{% block javascript %} <script src="{{ url_for('static', filename='js/home/users.js') }}"> 

</script>{% endblock javascript %}